.app {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}
.app__left {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 0;
}

.app__right {
  height: 100vh;
  background: #ad1457;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}
.app__title {
  font-size: 3rem;
  text-align: center;
}

.bookList {
  padding-top: 0;
  flex: 1;
}

.bookList__list li {
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #880e4f;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: #880e4f;
  transition: all 0.3s ease;
}

.bookList__list li:hover {
  transform: scale(1.1);
}

.bookList__list li:active {
  color: #fff;
}

.addBook {
  width: 60%;
  background: #fff;
  padding: 1rem;
  padding-left: 4rem;
}

.addAuthor {
  background: #000;
  padding: 1rem;
  padding-left: 4rem;
}

.book-details {
  transition: all 0.3 ease;
  flex: 1;
}
.book-details b {
  color: rgb(22, 216, 38);
}

#updateModal {
  color: #000;
}
